.not-found-page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    img {
        max-height: 545px;
        max-width: 672px;
    }
}

.pk-details-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}