.pk-card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding-top: 75px;
}

.pk-card-tag-list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 0.25rem;
    padding-bottom: 47px;
}

.header-brand {
    height: 100%;
    display: flex;
    align-items: center;
    img {
        height: 100%;
    }
}

.header-menu {
    display: flex;
    justify-content: space-between;
    gap: 1rem
}

.language-buttons-list {
    display: flex;
    gap: 1rem;
}

.game-button-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 3rem;
    justify-content: space-evenly;
}

.section-header {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.gn-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.gn-card-images {
    display: flex;
    justify-content: space-between;
}

.game-score-layout {
    display: flex;
    width: 100%;
    justify-content: space-between;
}