.pk-card-container {
    margin: auto;
}

.pk-card {
    width: 378px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 10px 20px 0px #AAAFAA;
    user-select: none;
    z-index: 10;
}

.pk-card:hover {
    filter: brightness(0.9);
    cursor: pointer;
    transition-duration: 100ms;
}

.pk-card:active {
    filter: brightness(1.1);
    transition-duration: 100ms;
}

.pk-card-mask {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 15;
}

.pk-card-pokeball-mask {
    width: 313px;
    position: absolute;
    left: 201px;
    top: -32px;
}

.pk-card-dots-mask {
    position: absolute;
    left: 25px;
    top: 15px;
    width: 100px;
    height: auto;
    z-index: inherit;
}

.pk-card-content {
    height: 100%;
    position: relative;
    bottom: 100%;
    background-color: transparent;
    z-index: 20;
    display: flex;
    flex-direction: row;
}

.pk-card-properties {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    color: #FFF;
    padding-left: 25px;
    z-index: 30;
}

.pk-card-img-container {
    width: 50%;
    position: relative;
    right: -10%;
    display: flex;
    align-items: center;
}

.pk-card-img {
    width: 200px;
    height: 200px;
}

.search-input {
    width: 100%;
    border-radius: 10px;
    display: flex;
    max-width: 800px;
    padding: 20px 25px;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #F2F2F2;
    border-style: none;
    border-color: transparent;
    font-size: 20px;
}

.header {
    display: flex;
    max-height: 2.5rem;
    justify-content: space-around;
    grid-area: "header";
    padding: 0.5rem 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 100;
    position: relative;
}

.footer {
    background-color: beige;
    display: flex;
    grid-area: "footer";
}

.language-selector {
    background-color: #EA5D60;
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 84px;
    padding: 0 1.5rem;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white
}

.game-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.gn-card {
    width: 378px;
    height: 250px;
    background-color: #EEE9F5;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 10px 20px 0px #AAAFAA;
}

.gn-card-bk {
    height: 100%;
    width: 100%;
    z-index: 20;
}

.gn-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    gap: 20px;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 10px 20px 0 #AAAFAA;
}

.tab-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}