.pk-card-list2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: calc(0.25rem * 8);
    border-color: black;
    border-width: 10px;
}

.pk-card-list {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 50px;
}

.virtual-scroll {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-menu {
    background-color: #EA5D60;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    padding: 40px 1rem;
}

.search-menu-content-dots {
    /* max-height: 110px; */
}

.search-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: auto;
}


.search-menu-content-helper {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.search-menu-contant-dots-img {
    max-height: 110px;
}

.subheader {
    grid-area: "subheader";
}

.layout {
    display: grid;
    grid-template-columns: repeat(1fr, 6);
    grid-template-rows: auto auto auto 15%;
    grid-template-areas: 
        "header header header header header header"
        "subheader subheader subheader subheader subheader subheader"
        "content content content content content content",
        "footer footer footer footer footer footer";
}

.content {
    grid-area: "content";
    padding: 70px 128px;
}
.pk-details-image-template {
    z-index: 10;
    position: relative;
}

.pk-details-image-layout {
    display: flex;
    flex-direction: column;
    justify-items: end;
    align-items: center;
    padding: 57px 29px;
    z-index: 30;
    gap: 40px;
}

.pk-details-image-mask {
    height: 100%;
    width: 100%;
    position: absolute;
    /* z-index: 20; */
    padding: 57px 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pk-details-mask-dots-group {
    display: flex;
    justify-content: center;
    gap: 32px
}

.pk-details-mask-dots {
    width: 250px;
    z-index: inherit;
}

.pk-details-mask-pokeball {
    width: 400px;
    z-index: inherit;
}

.pk-details-image {
    width: 400px;
    z-index: 40;
}

.pk-details-button-group {
    display: flex;
    gap: 20px;
}

.pk-details-info-template {
    padding: 20px 98px;
}