.color-type-bug {
    background-color:#8CB230;
}

.color-type-poison {
    background-color:#ae4ab7;
}

.color-type-water {
    background-color:#5c81c4;
}

.color-type-dark {
    background-color:#58575F;
}

.color-type-dragon {
    background-color:#275fac;
}

.color-type-psychic {
    background-color:#ec5456;
}

.color-type-fairy {
    background-color:#ef63b3;
}

.color-type-ice {
    background-color:#71b9ac;
}

.color-type-electric {
    background-color:#f0bf30;
}

.color-type-ground {
    background-color:#e06b41;
}

.color-type-fire {
    background-color:#fd7020;
}

.color-type-fighting {
    background-color:#d53a5a;
}

.color-type-flying {
    background-color:#8280b5;
}

.color-type-grass {
    background-color:#72a64e;
}

.color-type-ghost {
    background-color:#665f9c;
}

.color-type-normal {
    background-color:#a79099;
}

.color-type-rock {
    background-color:#c19a75;
}

.color-type-steel {
    background-color:#54708a;
}